<launch>
    <arg name="scan_topic" default="$(eval optenv('JACKAL_LASER_TOPIC', 'front/scan'))" />

    <!-- Launch pointcloud to laserscan -->
    <include file="$(find pointcloud_to_laserscan)/launch/jackal_laserscan_to_pointcloud_node.launch" />

    <!-- Launch gmapping -->
    <include file="$(find jackal_navigation)/launch/include/gmapping.launch" >
        <arg name="scan_topic" value="$(arg scan_topic)"/>
    </include>

    <!-- Launch lego-loam-->
    <!-- <include file="$(find lego_loam)/launch/run.launch" /> -->

    <!-- Launch Move Base -->
    <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

    <!-- joint_state_publisher -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    
    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find planning)/config/planning.rviz"/>

</launch>