<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world" default="ignc" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="false" />


  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(find gazebo_env)/worlds/$(arg world)/worlds/$(arg world).world" />
  </include>

  <!-- Spawn Jackal -->
  <!-- <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="0.2" />
    <arg name="yaw" value="0" />
    <arg name="joystick" value="$(arg joystick)" />
  </include> -->

</launch>
